.carousel {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 500px;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.carousel img {
    height: 500px;
    max-width: 850px;
    border-radius: 20px;
}

.carousel button {
    background: none;
    border: 2px solid white;
    color: white;
    flex-shrink: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: var(--fw4);
    transition: var(--transition1);
    cursor: pointer;
}

.carousel button:hover {
    background: var(--text3);
    border: 2px solid var(--text3);
    box-shadow: 0 0 20px var(--text3);
}

.carousel button:active {
    background: var(--text2);
    border: 2px solid var(--text2);
    box-shadow: 0 0 20px var(--text2);
    scale: 0.9;
}