.profile {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, var(--bg1), var(--bg2), var(--bg1));
    animation: gradientAnimation 30s linear infinite;
    background-size: 300% 100%;
    height: calc(100vh - var(--header-height));
}

.profile div {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    text-align: justify;
}

.profile img {
    height: 100%;
}
