.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.interest p, .interest h1, .interest h2, .interest h3, .interest h4, .interest h5, .interest h6 {
  align-self: flex-start;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.intro div {
    margin-right: 50px;
}

.intro p {
    text-align: justify;
}

.intro img {
    max-height: 500px;
    width: 500px;
    border-radius: 20px;
    box-sizing: border-box;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.links a {
    margin-right: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background: var(--bg2);
    padding: 50px;
    border-radius: 50px;
    width: 100%;
}

.item div {
    margin-right: 50px;
}

.item p {
    text-align: justify;
}

.item img, .item iframe, .item video {
    width: 600px;
    min-width: 600px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    border: none;
}

.item img {
    height: 450px;
}

.item iframe, .item video {
    height: 337.5px;
}

.table-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background: var(--bg2);
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.year {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.year div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    width: 45%;
}

.year div h4 {
    margin: 0;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section thead {
    background: var(--bg3);
    color: var(--text1);
    text-align: left;
}

.table-section th, .table-section td {
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff50;
}